
    <nav class="navbar-container">
      <div class="navbar-item left">
        <a href="home">Home</p>
        <a href="news">News</p>
        <a href="search">Search</p>
      </div>
      <div class="navbar-item right">
        <a href="/account">Account</p>
        <a href="/logout">Logout</p>
      </div>
    </nav>
