
    <nav class="navbar-container">
      <div class="navbar-item left">
        <a href="home">Home</a>
        <a href="news">News</a>
        <a href="search">Search</a>
        <a href="profile">Profile</a>
      </div>
      <div class="navbar-item right">
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>
