<!-- <link href="/../../resources/css/style.css" rel="stylesheet"/> -->
<div class="ticker-container">
    
    <% 
    data = [];
    if(ticker_data.data){
        for(var i = 0; i < 6; i++){
            if(i < ticker_data.data.length){
                data.push(ticker_data.data[i].data);
            }else{
                data.push("No Data At All");
            }
        }
    }else{
        for(var i = 0; i < 6; i++){
            data.push("No Data At All");
        }
    }
    
    out = "";
    if(data[0] != "No Data At All"){
    
    for(var i = 0; i < data.length; i++){
        out += `<div class="ticker-box">`
        out += `<div class="ticker-symbol">${ticker_data.symbols[i]}</div>`
        out += `<div class="ticker-price-container">`;
        out += `<div style="display: flex; align-items: end;">$${data[i].c.toFixed(2)}</div>`
        if(data[i].d < 0){
            out += `<div style="display: flex; align-items: start; color: var(--bad)">-$${Math.abs(data[i].d.toFixed(2))}</div>`
        }else{
            out += `<div style="display: flex; align-items: start; color: var(--good)">+$${data[i].d.toFixed(2)}</div>`
        }
        out += `</div>`
        out += "</div>"
    }
}
         %>
    <%- out %>
</div>