:root {
    --good: #caefa6;
    --bad: #f36684;
    --light: #fffef9;
    --dark: #404b4f;

    background-color: var(--light);
    color: var(--dark);
    font-family: Chivo, monospace;
}

body {
    padding: 0px;
    margin: 0px;
}

.ticker-container {
    color: var(--light);
    width: 100vw;
    height: 7vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #404b4f;
}

.ticker-container > .ticker-box {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
    border-left: var(--light) dashed 1px;
    border-right: #5e5e80 dashed 1px;
}

.ticker-container > .ticker-box > .ticker-symbol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.ticker-container > .ticker-box > .ticker-price-container {
    display: grid;
    grid-template-rows: auto auto
}

.news-container {
    position: relative;
    width: 70%;
    margin: auto;
}

.news-container > a > img {
    width: 100%;
    border-radius: 10px;
    transition: filter ease-out 500ms;
    filter: blur(5px) brightness(100%);
}

.news-container > a > img:hover {
    filter: blur(0px) brightness(60%);
}

.news-container > .news-headline {
    position: absolute;
    left: 1rem;
    top: 0rem;
    width: calc(100% - 1rem);
    pointer-events: none;

}

.news-container > .news-summary {
    position: absolute;
    left: 1rem;
    bottom: 0rem;
    max-width: calc(100% - 1em);
    pointer-events: none;
}

.news-text {
    /* background-color: var(--dark); */
    color: var(--light);
    /* mix-blend-mode:differen; */
    text-shadow: 0px 0px 6px var(--dark), 0px 0px 3px var(--dark), 0px 0px 2px var(--dark);
    font-size: 2rem;
    line-height: 3rem;
}