:root {
    --good: #caefa6;
    --good-dark: #a7d074;
    --bad: #f36684;
    --bad-dark: #f3506f;
    --light: #fffef9;
    --dark: #404b4f;
    --hover: #9c4071;
    --yellow: #ffdc86;

    background-color: var(--light);
    color: var(--dark);
    font-family: Chivo, monospace;
}

body {
    padding: 0px;
    margin: 0px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--dark);
    height: 2rem;
    vertical-align: middle;
}

.navbar-container > .navbar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    margin-right: auto;
}

.navbar-container > .navbar-item.left {
    display: flex;
    gap: 1rem;
}

.navbar-container > .navbar-item.right {
    display: flex;
    gap: 1rem;
    margin-right: 0;
    margin-left: auto;
}

.navbar-container > .navbar-item > a {
    color: var(--dark);
    text-decoration: none;

}

.navbar-container > .navbar-item > a:hover {
    color: var(--hover)
}


.ticker-container {
    color: var(--light);
    width: 100vw;
    height: 7vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #404b4f;
    pointer-events: none;
}

.ticker-container > .ticker-box {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
    border-left: var(--light) dashed 1px;
    border-right: #5e5e80 dashed 1px;
}

.ticker-container > .ticker-box > .ticker-symbol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.ticker-container > .ticker-box > .ticker-price-container {
    display: grid;
    grid-template-rows: auto auto
}

.news-container {
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    color: var(--light);
}

.news-container > a > img {
    width: 100%;
    border-radius: 10px;
    transition: filter ease-out 500ms;
    filter: blur(5px) brightness(100%);
}

.news-container > a > img:hover {
    filter: blur(0px) brightness(60%);
}

.news-container > .news-source {
    position: absolute;
    color: #f8f2e1;
    left: 1rem;
    top: 0rem;
    margin-top: 1rem;
    font-size: 3rem;
    pointer-events: none;
}

.news-container > .news-headline {
    position: absolute;
    left: 1rem;
    top: 4.5rem;
    pointer-events: none;
    font-family: Merriweather;
    font-size: 2rem;
    line-height: 3rem;
}

.news-container > .news-summary {
    position: absolute;
    left: 1rem;
    bottom: 0rem;
    width: calc(100% - 1em);
    pointer-events: none;
    font-family: Merriweather;
    font-size: 1rem;
    line-height: 2rem;
}

.news-text {
    color: var(--light);
    mix-blend-mode:differen;
    text-shadow: 0px 0px 6px var(--dark), 0px 0px 3px var(--dark), 0px 0px 2px var(--dark);
    width: calc(100% - 1rem);
    margin: 0rem 0rem 1rem 0rem;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Merriweather;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    
}

.search-form > * {
    width: 75vw;
    margin: 4px 0px;
}

.search-bar {
    padding: 3px;
    border: none;
    border-bottom: var(--dark) 3px solid;
    font-size: 3rem;
    text-align: center;
    width: 35vw;
    transition: width ease-out 250ms;
}

.search-bar:hover {
    width: 40vw;
}

.search-selector {
    width: 25vw;
    font-size: 1.5rem;
    border: none;
    border-bottom: var(--dark) 3px solid;
    text-align: center;
    transition: width ease-out 250ms;
}

.search-selector:hover {
    width: 30vw;
}

.search-button {
    width: 7em;
    font-size: 1.25rem;
    background-color: var(--light);
    border: none;
    border-bottom: var(--good-dark) 3px solid;
    border-radius: 3px;
    transition: width ease-out 250ms;
}

.search-button:hover {
    background-color: var(--good);
    cursor: pointer;
    width: 9em;
}

.search-container > table {
    width: 25%;
}

.message {
    border: var(--bad) 3px solid;
    color: var(--bad-dark);
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

.fav-follow {
    background-color: var(--light);
    border: none;
    background-color: var(--light);
    border: var(--yellow) 2px dashed;
    border-radius: 5px;
}

.fav-follow:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

tr {
    border-bottom: 1px solid;
}

td, th {
    text-align: center;
}

table {
    border-collapse: collapse;
}