<%- include ('../partials/header') %>
<%- include ('../partials/ticker') %>
<%- include ('../partials/menu') %>

<body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome Message</h1>
        <p>News or other information here</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Link to news or something</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>More News/Stocks</h2>
          <p> Information or News </p>
          <p><a class="btn btn-secondary" href="#" role="button">link to full article</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>News/Something</p>
          <p><a class="btn btn-secondary" href="#" role="button">Link to something</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>
</body>
<%- include ('../partials/footer') %>