<%- include ('../partials/header') %>
<main>
    <div class="container">
        <body>
        <%- include ('../partials/ticker') %>
        </body>
        </html>
    </div>
</main>

<%- include ('../partials/footer') %>