<%- include ('../partials/header') %>
<%- include ('../partials/ticker') %>
<%- include ('../partials/menu') %>
<main>
    <div class="container">
      <h1>Logged out Successfully!</h1>
    </div>
  </main>
  
<%- include ('../partials/footer') %>