<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <section class="vh-100" style="background-color: #9de2ff;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                      <img src="https://w3assets.angelone.in/wp-content/uploads/2018/09/1.1_0.png"
                        alt="Generic placeholder image" class="img-fluid"
                        style="width: 180px; border-radius: 10px;">
                    </div>
                    
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1">Username: <%= username %> <span id="username"></span></h5>

                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                        </script>
                      <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                        style="background-color: #efefef;">
                        <div class="px-3">
                          <p class="small text-muted mb-1">Followers</p>
                          <p class="mb-0">976</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!--<div class="container">
        <h1>The Profile Page</h1>
    </div> -->
</main>

<%- include ('../partials/footer') %>