<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1>The Profile Page</h1>
    </div>
</main>

<%- include ('../partials/footer') %>