<%- include ('../partials/header') %>
<%- include ('../partials/ticker') %>
<%- include ('../partials/menu') %>

<main>
  <main>
    <div class="login-register-container">
        <h1>Register</h1>
        <form action="/register" method="POST" style="display: flex; flex-direction: column; align-items: center;">
            <div>
                <!-- <label for="username" class="login-regiser-label">Username</label> -->
                <input type="username" id="username" name="username" class="login-register-field" placeholder="Username"/>
            </div>
            <div>
                <!-- <label for="password" class="login-regiser-label">Password</label> -->
                <input type="password" id="password" name="password" class="login-register-field" placeholder="Password"/>
            </div>
                
            <button type = "submit" class="login-register-button">SUBMIT</button>
        </form>
        <a>Already a User?</a>
        <a href='/login'>Login</a>
    </div>
    </main>

<%- include ('../partials/footer') %>